<!DOCTYPE html>
<html lang="en">
<head>
 
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <h1>New Recipe</h1>
    
    <form action="/recipes" method="POST">
        Name: <input type="text" name="name"><br>
        Author: <input type="text" name="author"><br>
        Picture: <input type="text" name="image"><br>
        Ingredients: <input type="text" name="ingredients"><br>
        Recipe: <input type="text" name="recipe"><br>

        <input type="submit" value="Publish Recipe">
    </form>
</body>
</html>